In [85]:
import pandas as pd
import datetime as dt
from workalendar.europe import UnitedKingdom
from sklearn.model_selection import train_test_split

# 数据清洗

In [2]:
data=pd.read_csv(r'C:/Users/Mr.Xiao/Desktop/order_train_merage.csv')

In [8]:
data.apply(lambda x:[x.isnull().sum(),x.isnull().sum()/x.size],axis=0)

,orderid,orderdate,city,countryid,hotel,zone,room,isholdroom,arrival,etd,...,isvendor,hotelbelongto,isebookinghtl,hotelstar,supplierchannel,label,totalrooms,glon,glat,star
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
data.dropna(inplace=True)

In [9]:
data.shape

(1079534, 24)

In [13]:
data.duplicated().sum()

0

# 特征提取

In [25]:
data['arrival']=pd.to_datetime(data['arrival'], format='%Y-%m-%d')
data['orderdate']=pd.to_datetime(data['orderdate'], format='%Y-%m-%d')
data['etd']=pd.to_datetime(data['etd'], format='%Y-%m-%d')

In [30]:
data['arrival-week']=data['arrival'].dt.weekday
data['etd-week']=data['etd'].dt.weekday
data['orderdate-week']=data['orderdate'].dt.weekday
data['arrival-month']=data['arrival'].dt.month
data['etd-week']=data['etd'].dt.month
data['orderdate-week']=data['orderdate'].dt.month
data['arrival-day']=(data['etd']-data['arrival']).dt.days

In [35]:
data.arrival.dt.year.unique()

array([2017, 2018], dtype=int64)

In [40]:
cal=UnitedKingdom()
holiday=[]
for i in data.arrival.dt.year.unique():
    holiday.extend(cal.holidays(year=i))
data['arrival-holiday']=data.arrival.isin(pd.DataFrame(holiday)[0])
data['etd-holiday']=data.etd.isin(pd.DataFrame(holiday)[0])

In [49]:
data['arrival-holiday'].value_counts()
data['etd-holiday'].value_counts()

False    1021267
True       58267
Name: etd-holiday, dtype: int64

In [51]:
#日期特征提取后准确时间不再重要
data.drop(['arrival','etd','orderdate'],axis=1,inplace=True)

In [83]:
data.describe(include='object') #对字符串类型特征进行编码

ValueError: No objects to concatenate

In [56]:
data['isholdroom']=data['isholdroom'].map({'F':0,'T':1})

In [59]:
data['isebookinghtl']=data['isebookinghtl'].map({'F':0,'T':1})

In [65]:
hotel_frame=pd.get_dummies(data.hotelbelongto,prefix='belonging')
supplier_frame=pd.get_dummies(data.supplierchannel,prefix='supplier')
data=pd.concat([data,hotel_frame,supplier_frame],axis=1)

In [79]:
data['hotelbelongto'].value_counts()
#data['supplierchannel'].value_counts()

HTL    597735
SHT    422243
PKG     59555
HPP         1
Name: hotelbelongto, dtype: int64

In [77]:
data.drop(['supplier_Expedia','belonging_HPP'],axis=1,inplace=True)

In [80]:
data.drop(['hotelbelongto','supplierchannel'],axis=1,inplace=True)

In [81]:
data.shape

(1079534, 34)

# 数据集拆分

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(data.loc[;,data.columns!='label'],data.label,test_size=0.3,random_)